<div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <article role="pge-title-content">
            <header>
                <h2><span>HomeBook</span> Ứng Dụng Quản Lý Nhà Sách</h2>
            </header>
            <p>Chào mừng bạn đến với HomeBook, giải pháp tối ưu để quản lý và khám phá bộ sưu tập sách phong phú của nhà sách chúng tôi.</p>
        </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        <figure class="effect-oscar">
            <img src="images/home-images/image-1.jpg" alt="" class="img-responsive">
            <figcaption>
                <h2>Quản Lý <span>Danh Mục Sách</span></h2>
                <p>Tổ chức và quản lý kho sách của nhà sách một cách hiệu quả.</p>
                <a href="works-details.html">Xem thêm</a>
            </figcaption>
        </figure>
    </section>

    <div class="clearfix"></div>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        <ul class="grid-lod effect-2" id="grid" style="position: relative; height: 3673.5px; perspective-origin: 50% 3540.33px;">
            <li class="shown" style="position: absolute; left: 0px; top: 0px;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Gợi Ý <span>Cá Nhân Hóa</span></h2>
                        <p>Kết nối với khách hàng qua các đề xuất sách phù hợp.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 566px; animation-duration: 0.572795s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Theo Dõi <span>Doanh Thu</span></h2>
                        <p>Phân tích và giám sát hiệu suất bán hàng của nhà sách.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 918px; animation-duration: 0.51635s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Quản Lý <span>Đặt Hàng</span></h2>
                        <p>Xử lý đơn đặt hàng từ khách hàng một cách nhanh chóng.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 1484px; animation-duration: 0.604915s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Phân Tích <span>Thị Trường</span></h2>
                        <p>Nghiên cứu xu hướng để tối ưu hóa chiến lược kinh doanh.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 1836px; animation-duration: 0.605244s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Chương Trình <span>Khách Hàng Thân Thiết</span></h2>
                        <p>Tạo ưu đãi cho khách hàng thường xuyên của nhà sách.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 2403px; animation-duration: 0.593811s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Quản Lý <span>Nhân Viên</span></h2>
                        <p>Phân công công việc và theo dõi hiệu suất nhân viên.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 2755px; animation-duration: 0.543494s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-2.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Tích Hợp <span>Thanh Toán</span></h2>
                        <p>Hỗ trợ nhiều phương thức thanh toán cho khách hàng.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="position: absolute; left: 0px; top: 3321px; animation-duration: 0.517697s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-4.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Báo Cáo <span>Kinh Doanh</span></h2>
                        <p>Tạo báo cáo chi tiết để đánh giá hiệu quả hoạt động.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
        <ul class="grid-lod effect-2" id="grid">
            <li class="shown">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Sự Kiện <span>Ra Mắt Sách</span></h2>
                        <p>Tổ chức các buổi giới thiệu sách mới tại nhà sách.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="shown">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Quản Lý <span>Kho Hàng</span></h2>
                        <p>Quản lý tồn kho và nhập sách mới một cách dễ dàng.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="animation-duration: 0.631938s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Câu Lạc Bộ <span>Đọc Sách</span></h2>
                        <p>Tạo không gian cho những người yêu sách giao lưu.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="animation-duration: 0.544827s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Quản Lý <span>Đơn Hàng Online</span></h2>
                        <p>Xử lý đơn hàng trực tuyến nhanh chóng và chính xác.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="animation-duration: 0.619631s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Workshop <span>Viết Sách</span></h2>
                        <p>Tổ chức các buổi hướng dẫn sáng tác cho tác giả mới.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="animation-duration: 0.617635s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Quản Lý <span>Khuyến Mãi</span></h2>
                        <p>Tạo và quản lý các chương trình khuyến mãi hấp dẫn.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="animation-duration: 0.534701s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-3.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Gian Hàng <span>Sách Cũ</span></h2>
                        <p>Khai thác thị trường sách cũ để thu hút khách hàng.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
            <li class="animate" style="animation-duration: 0.54028s;">
                <figure class="effect-oscar">
                    <img src="images/home-images/image-5.jpg" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Hỗ Trợ <span>Khách Hàng</span></h2>
                        <p>Cung cấp dịch vụ chăm sóc khách hàng chuyên nghiệp.</p>
                        <a href="works-details.html">Xem thêm</a>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </section>

    <div class="clearfix"></div>
</div>