<div class="row">
    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <article role="pge-title-content">
            <header>
                <h2><span>HomeBook</span> Ứng Dụng Quản Lý Nhà Sách</h2>
            </header>
            <p>HomeBook là giải pháp công nghệ hiện đại giúp quản lý nhà sách hiệu quả, tối ưu hóa quy trình kinh doanh và nâng cao trải nghiệm khách hàng.</p>
        </article>
    </section>

    <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <article class="about-content">
            <p>HomeBook được thiết kế để hỗ trợ các nhà sách trong việc quản lý danh mục sách, theo dõi doanh thu, và tương tác với khách hàng. Ứng dụng tích hợp các tính năng như quản lý kho, phân tích thị trường, và tổ chức sự kiện, giúp nhà sách vận hành trơn tru và phát triển bền vững.</p>
            <p>Với giao diện thân thiện và công nghệ tiên tiến, HomeBook không chỉ là công cụ quản lý mà còn là cầu nối giữa nhà sách và cộng đồng yêu sách, mang đến trải nghiệm mua sắm và khám phá sách độc đáo.</p>
        </article>
    </section>

    <div class="clearfix"></div>

    <div class="thumbnails-pan">
        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <figure>
                <img src="~/images/about-images/about-image-1.jpg" class="img-responsive" />
                <figcaption>
                    <h3>Nguyễn Văn An</h3>
                    <h5>Nhà Phát Triển</h5>
                </figcaption>
            </figure>
        </section>
        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <figure>
                <img src="~/images/about-images/about-image-2.jpg" class="img-responsive" />
                <figcaption>
                    <h3>Trần Thị Bình</h3>
                    <h5>Quản Lý Dự Án</h5>
                </figcaption>
            </figure>
        </section>
        <section class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <figure>
                <img src="~/images/about-images/about-image-3.jpg" class="img-responsive" />
                <figcaption>
                    <h3>Lê Hoàng Minh</h3>
                    <h5>Người Sáng Lập</h5>
                </figcaption>
            </figure>
        </section>
    </div>
</div>
<style>
    .about-content {
        background-color: #fb5353;
        padding-top: 57px;
        padding-left: 70px;
        padding-right: 67px;
        padding-bottom: 58px;
    }

        .about-content p {
            font-size: 17px;
            line-height: 30px;
            color: #FFF;
            padding-bottom: 20px;
        }
</style>